# ================= SYSTEM =================
.DS_Store
Thumbs.db
*.log

# ================= ENV =================
.env
.env.*
auth.json

# ================= IDE =================
.vscode/
.idea/
.fleet/
.zed/

# ================= FRONTEND (React) =================
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# ================= BACKEND (Laravel) =================
backend/vendor/
backend/.env
backend/.env.*
backend/storage/*.key
backend/storage/pail
backend/public/build
backend/public/hot
backend/public/storage

# ================= CACHE =================
.phpunit.result.cache
.phpunit.cache
.phpactor.json
.nova
